#ui{
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/74452/website-post-its.png");
  background-size: cover;
   height: 80vh;
   text-align: center;
  
}
#front{
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/74452/website-code.png);
  background-size: cover;
 height: 80vh;
 text-align: center;

}
#zoom{
   -webkit-transition: all 0.5s ease-in-out;
}
#zoom:hover {
   -webkit-transform: scale(1.1);
   }
#one{
  
  height: 100vh;
    
 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(images/0413.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
#two{
  border: red 1.4px;
  
  height: 100vh;
  
 
  
 
 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(images/0421.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

#three{

 height: 100vh;
 
 background-image: url(images/04241.jpg);
  
 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
#nav.scrolled{
  background:#000;
}
#master1{
 margin: 0 auto;
   height: 100vh;
   display: flex;
 align-items: center;
 width: 33.33%;
 border-width: 2px;
 border-color: red;
 border-style: solid;
 -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
  clip-path: polygon(0 0, 83% 0%, 90% 100%,  0% 100%); 
}
#master2{
   
    height: 100vh;
   display: flex;
   align-items: center;
   width: 33.33%;
    border-width: 2px;
    border-color: red;
   border-style: solid;
   -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);
}
#master3{
  
   height: 100vh;
   display: flex;
   align-items: center;
   width: 33.33%;
   border-width: 2px;
   border-color: red;
   border-style: solid;
   -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
   clip-path: polygon(30% 0%, 100% 0, 100% 100%, 20% 100%); 
}
#master1 img{
height: 100vh;
margin: 0 auto;
}
#master2 img{
height: 100vh;
}
#master3 img{
height: 100vh;
width: 100%;

}

#nav{
	font-family: 'Nothing You Could Do', cursive;
  font-size: 20px;
  font-weight: 800;
}

#btn-change{
  height: 50px;
  width: 200px;
  background: lightseagreen;
  margin: 20px;
  float: left;
  box-shadow: 0 0 1px #ccc;
  -webkit-transition: all 0.5s ease-in-out;
  border: 0px;
  color: #fff;
}
#btn-change1{
  height: 50px;
  width: 300px;
  background: lightseagreen;
  margin: 20px;
  
  box-shadow: 0 0 1px #ccc;
  -webkit-transition: all 0.5s ease-in-out;
  border: 0px;
  color: #fff;
}
#btn-change:hover{
  -webkit-transform: scale(1.1);
  background: #31708f;
}
#btn-change1:hover{
  -webkit-transform: scale(1.1);
  background: #31708f;
}
#aboutHeader{
  margin-top: 8em; 
}
.test{
 display: flex;
 justify-content: center;
 align-items: center;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');

@media (min-width: 500px) {
  .col-sm-6 {
    width: 50%;
  }
}
.text-content{
   display: flex;
  
 
  align-items: center;
}
.big{
  text-transform: uppercase;
    font-weight:800;
    font-size: 6em;
}