/*	font-family: 'Nothing You Could Do', cursive;
	font-size: 20px;
	padding-right: 5px;
}
#logo{
	vertical-align: bottom;
	height: 100vh
}
.one {
  position: absolute;
  height: 100vh;
  width: 43.33%;
  left: 0;
  top: 0;
  background-image: url(images/everest5.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 50% 100%,  0% 100%); 
}
.two {
  position: absolute;
  height: 100vh;
  width: 53.33%;
  right: 0;
  top: 0;
  background-image: url(images/everest.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%); 
}
.three {
  position: absolute;
  height: 100vh;
  width: 73.33%;
  right:25;
  top: 0;
  background-image: url(images/everest1.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(50% 0%, 100% 0%,75% 100%, 25% 100%); 
}
.parent {
  position: relative;
  width: 100%;
   background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(50,50,50,0.8)), to(rgba(80,80,80,0.2)), color-stop(.5,#333333));
}
*/
.column {
  
 
  height: 100vh;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
#one{
position: absolute;
  height: 100vh;
  width: 35%;
  left: 0;
  top: 0;
 


	
background-image: url(images/0421.jpg);
-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
   
    
    -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 70% 100%,  0% 100%); 
}
#two{
	 position: absolute;
  height: 100vh;
  width: 89%;
  left:50;
  top: 0;
  
	 
-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
   background-size: cover;
background-image: url(images/0093.jpg);
-webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(38% 0%, 100% 0%,75% 100%, 25% 100%); 
}

.three{
 position: absolute;
  height: 100vh;
  width: 40.33%;
  right: 0;
  top: 0;
  background-image: url(images/0424.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(45% 0, 100% 0%, 100% 100%, 0% 100%); 

  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
   
}
li{
	font-family: 'Nothing You Could Do', cursive;
}
.centerdiv {
 position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 300px;
        height: 200px;
        background-color: darkgray;
        font-family: 'Nothing You Could Do', cursive;
        text-align: center;
        

}